@{
    ViewBag.Title = "Reveille - Welcome";
}

@section css {
    <link href="~/Content/reveille.css" rel="stylesheet" type="text/css" />
}

@section header {
    <img id="logo" src="~/Images/Reveille.png" alt="Reveille" />
    <nav>
        <ul>
            <li><a href="http://blog.reveille.org.uk">Blog</a></li>
            <li><a href="/tote/" title="Table of the Elements discography">ToTE</a></li>
        </ul>
    </nav>
}

<p>I'm Graham Clark. I do some Web and .NET development. This is where I put stuff.</p>
