@font-face {
    font-family: 'OpenSansLight';
    src: url('/Fonts/OpenSans/OpenSans-Light-webfont.eot');
    src: url('/Fonts/OpenSans/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'), url('/Fonts/OpenSans/OpenSans-Light-webfont.woff') format('woff'), url('/Fonts/OpenSans/OpenSans-Light-webfont.ttf') format('truetype'), url('/Fonts/OpenSans/OpenSans-Light-webfont.svg#OpenSansLight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSansRegular';
    src: url('/Fonts/OpenSans/OpenSans-Regular-webfont.eot');
    src: url('/Fonts/OpenSans/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'), url('/Fonts/OpenSans/OpenSans-Regular-webfont.woff') format('woff'), url('/Fonts/OpenSans/OpenSans-Regular-webfont.ttf') format('truetype'), url('/Fonts/OpenSans/OpenSans-Regular-webfont.svg#OpenSansRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
body {
    min-width: 1175px;
}

#toteContainer {
    clear: both;
    font-family: OpenSansLight, Helvetica, Arial, sans-serif;
    margin: 60px 0 0 40px;
}

.toteRow {
    margin-bottom: 5px;
    clear: both;
    height: 56px;
}

    .toteRow div {
        float: left;
        margin-left: 5px;
        cursor: default;
    }

.empty {
    width: 56px;
    height: 56px;
}

.element {
    width: 50px;
    height: 48px;
    padding-top: 4px;
    padding-left: 4px;
    border: 1px solid #fff;
    cursor: default;
    text-align: left;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

    .element:hover {
        -webkit-transform: scale(2.5);
        -moz-transfrom: scale(2.5);
        -o-transform: scale(2.5);
        transform: scale(2.5);
    }

.symbol {
    color: #fff;
    font-size: 18pt;
}

.element-name {
    color: #fff;
    font-size: 5pt;
    margin-top: 8px;
}

.element-number {
    color: #fff;
    font-size: 5pt;
    text-align: right;
    margin-right: 2px;
}

.non-metal {
    background-color: #ffbf55;
}

.alkali-metal {
    background-color: #a6501b;
}

.alkaline-earth-metal {
    background-color: #ff9655;
}

.transition-metal {
    background-color: #3cb59b;
}

.other-metal {
    background-color: #77a1db;
}

.noble-gas {
    background-color: #174077;
}
